# =========================
# TERRAFORM
# =========================
# Ignorar directorios locales ocultos de Terraform
**/.terraform/*
.terraform*

# Ignorar archivos de estado (¡NUNCA deben subirse, tienen secretos y datos sensibles!)
*.tfstate
*.tfstate.*

# Ignorar logs de error de Terraform
crash.log
crash.*.log

# Ignorar archivos de variables que podrían contener credenciales reales
*.tfvars
*.tfvars.json
!example.tfvars # Se permite un archivo de ejemplo sin datos reales

# Ignorar archivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# =========================
# NODE.JS (Aplicación)
# =========================
app/node_modules/
app/npm-debug.log
app/yarn-error.log
app/.env

# =========================
# SISTEMA OPERATIVO
# =========================
.DS_Store
Thumbs.db